name: Build and deploy

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  id-token: write

jobs:
  build:
    uses: nais/actions/.github/workflows/mise-build-deploy-nais.yaml@8758ee3289bae9f9731606749c4168242856b002 # ratchet:nais/actions/.github/workflows/mise-build-deploy-nais.yaml@main
    with:
      mise-tasks: '["lint", "check"]'
      deploys-to-nais: true
    secrets:
      NAIS_IO_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.NAIS_IO_WORKLOAD_IDENTITY_PROVIDER }}
