name: Build and deploy

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  id-token: write

jobs:
  build:
    uses: nais/actions/.github/workflows/mise-build-deploy-nais.yaml@2cfaab58825a90150efdb96841007427dd5db221 # ratchet:nais/actions/.github/workflows/mise-build-deploy-nais.yaml@main
    with:
      mise-setup-tasks: '["install"]'
      mise-tasks: '["lint", "check"]'
      deploys-to-nais: true
      nais-team: nais
      nais-clusters: '["dev-gcp", "prod-gcp"]'
    secrets:
      NAIS_IO_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.NAIS_IO_WORKLOAD_IDENTITY_PROVIDER }}
